RunAnalysisAndPutResultsInHBase_v_1_1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>0927ddff-017c-1000-3f08-95a84646cb8e</groupId>
    <name>RunAnalysisAndStoreInHbase</name>
    <snippet>
        <controllerServices>
            <id>072891e2-11b9-3af6-0000-000000000000</id>
            <parentGroupId>d3edd9d7-3244-387e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hbase_2-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Hadoop Configuration Files</key>
                    <value>
                        <name>Hadoop Configuration Files</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                    <value>
                        <name>Kerberos Principal</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                    <value>
                        <name>Kerberos Keytab</name>
                    </value>
                </entry>
                <entry>
                    <key>Kerberos Password</key>
                    <value>
                        <name>Kerberos Password</name>
                    </value>
                </entry>
                <entry>
                    <key>ZooKeeper Quorum</key>
                    <value>
                        <name>ZooKeeper Quorum</name>
                    </value>
                </entry>
                <entry>
                    <key>ZooKeeper Client Port</key>
                    <value>
                        <name>ZooKeeper Client Port</name>
                    </value>
                </entry>
                <entry>
                    <key>ZooKeeper ZNode Parent</key>
                    <value>
                        <name>ZooKeeper ZNode Parent</name>
                    </value>
                </entry>
                <entry>
                    <key>HBase Client Retries</key>
                    <value>
                        <name>HBase Client Retries</name>
                    </value>
                </entry>
                <entry>
                    <key>Phoenix Client JAR Location</key>
                    <value>
                        <name>Phoenix Client JAR Location</name>
                    </value>
                </entry>
            </descriptors>
            <name>HBase_2_ClientService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Hadoop Configuration Files</key>
                    <value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml,/usr/local/hbase/conf/hbase-site.xml</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Kerberos Principal</key>
                </entry>
                <entry>
                    <key>Kerberos Keytab</key>
                </entry>
                <entry>
                    <key>Kerberos Password</key>
                </entry>
                <entry>
                    <key>ZooKeeper Quorum</key>
                </entry>
                <entry>
                    <key>ZooKeeper Client Port</key>
                </entry>
                <entry>
                    <key>ZooKeeper ZNode Parent</key>
                </entry>
                <entry>
                    <key>HBase Client Retries</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>Phoenix Client JAR Location</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.hbase.HBase_2_ClientService</type>
        </controllerServices>
        <controllerServices>
            <id>de5f52f7-7a6e-316c-0000-000000000000</id>
            <parentGroupId>d3edd9d7-3244-387e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-parquet-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-read-compatibility</key>
                    <value>
                        <name>avro-read-compatibility</name>
                    </value>
                </entry>
            </descriptors>
            <name>ParquetToHBaseReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-read-compatibility</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.parquet.ParquetReader</type>
        </controllerServices>
        <processGroups>
            <id>677d8db7-58d2-3271-0000-000000000000</id>
            <parentGroupId>d3edd9d7-3244-387e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0e797f65-affb-34cc-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>2a513d4e-5c33-3f2d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>00d4ee26-dc14-3a7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>209a4176-d600-3b07-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>d8cddc61-5811-3647-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>e78942fc-d45c-3223-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d8785759-dd61-3489-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>00d4ee26-dc14-3a7b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>051fdf8c-2aef-3629-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc778f87-5318-308d-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>e78942fc-d45c-3223-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>677d8db7-58d2-3271-0000-000000000000</groupId>
                        <id>26d59b20-7dd5-3bb2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>00d4ee26-dc14-3a7b-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>2152.0</x>
                        <y>1616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename}.log</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>051fdf8c-2aef-3629-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>1536.0</x>
                        <y>1616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command</key>
<value>
    <name>Command</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Batch Duration</key>
<value>
    <name>Batch Duration</name>
</value>
                            </entry>
                            <entry>
<key>Redirect Error Stream</key>
<value>
    <name>Redirect Error Stream</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command</key>
<value>./spark-submit-nlp.sh</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>spark_process_articles.py</value>
                            </entry>
                            <entry>
<key>Batch Duration</key>
                            </entry>
                            <entry>
<key>Redirect Error Stream</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/home/vagrant/PROJEKT</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>86400 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteAnalysisInPySpark</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                </processors>
                <processors>
                    <id>26d59b20-7dd5-3bb2-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>1536.0</x>
                        <y>1768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Filter Match Name Only</key>
<value>
    <name>Filter Match Name Only</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/user/chojeckip/project/hbase_buffer</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>.*-.*-.*\.parquet</value>
                            </entry>
                            <entry>
<key>Filter Match Name Only</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>10 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetAnalysisResults</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.GetHDFS</type>
                </processors>
                <processors>
                    <id>2a513d4e-5c33-3f2d-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>2760.0</x>
                        <y>1616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>
    <name>Ignore Locality</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/user/chojeckip/project/logs</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>append</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutLogsToHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>d8cddc61-5811-3647-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>2760.0</x>
                        <y>1768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hbase-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>HBase Client Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
    <name>HBase Client Service</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Row Identifier Field Name</key>
<value>
    <name>Row Identifier Field Name</name>
</value>
                            </entry>
                            <entry>
<key>Row Identifier Encoding Strategy</key>
<value>
    <name>Row Identifier Encoding Strategy</name>
</value>
                            </entry>
                            <entry>
<key>hbase-record-null-field-strategy</key>
<value>
    <name>hbase-record-null-field-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Column Family</key>
<value>
    <name>Column Family</name>
</value>
                            </entry>
                            <entry>
<key>hbase-default-vis-string</key>
<value>
    <name>hbase-default-vis-string</name>
</value>
                            </entry>
                            <entry>
<key>put-hb-rec-visibility-record-path</key>
<value>
    <name>put-hb-rec-visibility-record-path</name>
</value>
                            </entry>
                            <entry>
<key>timestamp-field-name</key>
<value>
    <name>timestamp-field-name</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Complex Field Strategy</key>
<value>
    <name>Complex Field Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Field Encoding Strategy</key>
<value>
    <name>Field Encoding Strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>de5f52f7-7a6e-316c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>HBase Client Service</key>
<value>072891e2-11b9-3af6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>${tablename}</value>
                            </entry>
                            <entry>
<key>Row Identifier Field Name</key>
<value>row_key</value>
                            </entry>
                            <entry>
<key>Row Identifier Encoding Strategy</key>
<value>String</value>
                            </entry>
                            <entry>
<key>hbase-record-null-field-strategy</key>
<value>skip-field</value>
                            </entry>
                            <entry>
<key>Column Family</key>
<value>${columnfamily}</value>
                            </entry>
                            <entry>
<key>hbase-default-vis-string</key>
                            </entry>
                            <entry>
<key>put-hb-rec-visibility-record-path</key>
                            </entry>
                            <entry>
<key>timestamp-field-name</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Complex Field Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Field Encoding Strategy</key>
<value>String</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHBaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.hbase.PutHBaseRecord</type>
                </processors>
                <processors>
                    <id>e78942fc-d45c-3223-0000-000000000000</id>
                    <parentGroupId>677d8db7-58d2-3271-0000-000000000000</parentGroupId>
                    <position>
                        <x>2152.0</x>
                        <y>1768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>columnfamily</key>
<value>
    <name>columnfamily</name>
</value>
                            </entry>
                            <entry>
<key>tablename</key>
<value>
    <name>tablename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>columnfamily</key>
<value>${path:getDelimitedField(2,'-')}</value>
                            </entry>
                            <entry>
<key>tablename</key>
<value>${path:getDelimitedField(1,'-')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AssignTableNameAndColumnFamily</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Run analysis in Spark and store results in HBase</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/23/2022 16:24:06 UTC</timestamp>
</template>
